<md-list-item
		ng-class="{'md-2-line': $user, 'user-card': $user}"
		ng-style="{'background-image': App.bgImg(App.coverImg($user))}"
		ng-click="Sidenav.click('user')">
	<img ng-if="$user" ng-src="{{App.avatarImg($user)}}" class="md-avatar" alt="{{$user|fullName}}" />
	<div class="md-list-item-text" ng-if="$user">
		<h3>{{$user|fullName}}</h3>
		<p>{{$user.username}}</p>
	</div>
	<md-icon ng-if="!$user" md-svg-icon="ico/account_box.svg"></md-icon>
	<p ng-if="!$user">Login / Register</p>
</md-list-item>
<md-divider></md-divider>
<md-list-item ng-click="Sidenav.click('home')">
	<md-icon md-svg-icon="ico/home.svg"></md-icon>
	<p>Home</p>
</md-list-item>
<md-divider></md-divider>