<div class="md-toolbar-tools">
	<md-button
			ng-if="$nav && !$nav.if || $nav.if()"
			ng-class="{'md-icon-button': $nav.icon}"
			aria-label="{{$nav.label}}"
			ng-click="$nav.click($event)">
		<md-icon ng-if="$nav.icon" md-svg-icon="ico/{{$nav.icon}}.svg"></md-icon>
		<md-tooltip md-delay="750">{{$nav.label}}</md-tooltip>
	</md-button>
	<h2 ng-bind="$ctrl.$title"></h2>
	<span flex></span>
	<md-button
			ng-if="!action.menu"
			ng-repeat="action in $ctrl.$actions"
			aria-label="{{action.label}}"
			ng-click="action.click($event)"
			ng-disabled="action.disabled()"
			ng-class="{'md-icon-button': action.icon}">
		<md-icon
				ng-if="action.icon"
				md-svg-icon="ico/{{action.icon}}.svg"></md-icon>
		<span ng-if="!action.icon">{{action.label}}</span>
		<md-tooltip md-delay="750">{{action.label}}</md-tooltip>
	</md-button>
	<md-dropmenu ng-if="action.menu" ng-repeat="action in $ctrl.$actions">
		<md-drop-label>
			<md-button
					aria-label="{{action.label}}"
					ng-click="action.click($event)"
					ng-disabled="action.disabled()"
					ng-class="{'md-icon-button': action.icon}">
				<md-icon
						ng-if="action.icon"
						md-svg-icon="ico/{{action.icon}}.svg"></md-icon>
				<span ng-if="!action.icon">{{action.label}}</span>
				<md-tooltip md-delay="750">{{action.label}}</md-tooltip>
			</md-button>
		</md-drop-label>
		<md-drop-option
			ng-repeat="item in action.menu"
			ng-click="item.click($event)">{{item.label}}</md-drop-option>
	</md-dropmenu>
</div>